*{
    margin: 0;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }
  
  .post-body{
    border: 2px outset;
    width: 40%;
    margin: 1rem 0;
    padding: 1rem;
  }
  
  button{
    background-color: blue;
    color: white;
    padding: .4rem;
    margin: .4rem;
    border-radius: 8%;
  }
  
  
  .comment-card{
    left:50%;
    width: 500px;
    padding: 1rem;
    margin: 1rem;
    position: absolute;
    transform: translateX(-50%);  
    border: 5px outset;
    background-color: gray;
  }
  .comment-body{
    font-size: .4rem;
    color: white;
    margin: 1rem 0;
  }
  
  
  
  
